/**
 * main.css
 * Main styling, animations, and other misc. snippets.
 */

#tiles {
	display: none;
}

.hide {
	display: none;
}

#background-layer {
	z-index: 1;
}

#foreground-layer {
	z-index: 2;
}
